@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

@layer components {
  .footer-a {
    @apply p-4;
  }
}

.card-h1 {
  font-family: "Caudex", serif;
}
body {
  background: linear-gradient(-45deg, #3e0b49, #cc68f6, #da1f49, #3ed4b2);
  background-size: 400% 400%;
  background-repeat: no-repeat;
  animation: gradient 12s ease infinite;
  height: 100%;
}

.content p {
  padding-top: 2em;
  text-indent: 2em;
  letter-spacing: 1.5px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply text-base md:text-[30px] leading-5 md:leading-[45px];
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
